* text=auto
*.png binary
*.ico binary
*.bmp binary
*.jpg binary
*.jpeg binary
*.svg binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.msi binary
*.deb binary
*.rpm binary
*.pkg.tar.xz binary
*.dll binary
*.exe binary
*.lib binary
*.a binary
*.so binary
*.dylib binary
*.obj binary
*.pdb binary
*.ilk binary
*.exp binary
*.sqlite binary
*.icns binary
*.o binary